<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://www.monstersandcritics.com/wp-content/uploads/2019/02/Mob-Psycho-100-Season-3-release-date-Did-One-Punch-Man-Reigen-creator-ONE-leave-room-for-a-third-season-with-the-Mob-Psycho-100-mangas-ending-Anime-spoilers-1200x675.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>