<%- include ("partials/header") %>
<!-- <link rel="stylesheet" href="app.css"> -->

<h1>
	This is a home page!
</h1>
<!-- <link href="/app.css" rel="stylesheet" type="text/css"> -->
<img src = "https://images.firstpost.com/wp-content/uploads/2017/08/13245470_1129092717162553_622982228854157952_n-Copy-2.jpg">
<%- include ("partials/footer") %>